#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-scrollbar-1_1 {
  rotation: 90.0;
  margin-left: 238px;
  margin-top: -240px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-drag-scrollbar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Button_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Button_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac #s-Button_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-141376f3-2107-4216-a70e-deea9f4734ac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}