#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15);
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-scrollbar-1_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(90.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-drag-scrollbar_1 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-search {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-mic {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-936db856-2a5d-42c3-b268-66a7e9644cdb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}