#s-bfc9bc2d-1944-49de-b22e-a01249ee487e #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc9bc2d-1944-49de-b22e-a01249ee487e #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc9bc2d-1944-49de-b22e-a01249ee487e #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc9bc2d-1944-49de-b22e-a01249ee487e #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc9bc2d-1944-49de-b22e-a01249ee487e #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc9bc2d-1944-49de-b22e-a01249ee487e #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc9bc2d-1944-49de-b22e-a01249ee487e #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc9bc2d-1944-49de-b22e-a01249ee487e #s-Button_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc9bc2d-1944-49de-b22e-a01249ee487e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc9bc2d-1944-49de-b22e-a01249ee487e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc9bc2d-1944-49de-b22e-a01249ee487e #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc9bc2d-1944-49de-b22e-a01249ee487e #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc9bc2d-1944-49de-b22e-a01249ee487e #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc9bc2d-1944-49de-b22e-a01249ee487e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc9bc2d-1944-49de-b22e-a01249ee487e #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc9bc2d-1944-49de-b22e-a01249ee487e #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc9bc2d-1944-49de-b22e-a01249ee487e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc9bc2d-1944-49de-b22e-a01249ee487e #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc9bc2d-1944-49de-b22e-a01249ee487e #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bfc9bc2d-1944-49de-b22e-a01249ee487e #s-Button_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bfc9bc2d-1944-49de-b22e-a01249ee487e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}